  table {
    width: 100%;
    margin: 10px auto;
  }
  mat-icon {
    cursor: pointer;
  }

  .customMatIcon {
    position: relative;
    top: 2px;
    right: 15px;
  }

  .headerMain {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }